
//
// VARIABLES
//

// Colors
$blue: #00C4D9;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$darkPsi: #005983;
$darkPsiAlt: #E5EEF2;
$lightPsi: #00C4D9;
$efspi: #2C3791;

// Font stacks
$helvetica: Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
